/* Default styles for desktop */
.carousel {
  width: 40%; /* Adjust this value as needed */
  margin: 50px auto; /* Centers the carousel */
  overflow: hidden;
  position: relative;
}

.carousel img {
  width: 100%; /* Makes the image fill the carousel */
  display: none; /* Hide all images by default */
  border-radius: 10px; /* Rounds the corners of the images */
}

.carousel img.active {
  display: block; /* Show the active image */
}

header h1 {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

body {
  padding: 0 60px; /* Adjust if needed to ensure content is well-spaced */
  overflow-x: hidden; /* Prevent horizontal scrollbar */
}

/* Mobile styles */
@media (max-width: 768px) {
  .carousel {
    width: 80%; /* Makes the carousel wider on mobile devices */
  }

  body {
    padding: 0 20px; /* Reduced padding on smaller screens for more space */
  }
}
