/* Default styles for desktop */
.carousel {
  width: 40%; /* Adjust this value as needed */
  margin: 50px auto; /* Centers the carousel */
  overflow: hidden;
  position: relative;
}

.carousel img {
  width: 100%; /* Makes the image fill the carousel */
  display: none; /* Hide all images by default */
}

.carousel img.active {
  display: block; /* Show the active image */
}

/* Mobile styles */
@media (max-width: 768px) {
  .carousel {
    width: 80%; /* Makes the carousel wider on mobile devices */
  }

  .carousel img {
    /* You can add additional mobile-specific styles here */
  }
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 50%;
  user-select: none;
  z-index: 10;
}

.carousel-arrow.left {
  left: -5px;
}

.carousel-arrow.right {
  right: -5px;
}

.carousel-indicator {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

header h1 {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

body {
  padding: 0 60px;
  overflow-x: hidden;
}
