.carousel {
  width: 40%; /* Adjust this value as needed */
  margin: 50px auto; /* This centers the carousel itself */
  overflow: hidden;
  position: relative; /* Needed for absolute positioning of children like arrows */
  }

.carousel img {
  width: 90%; /* Sets the image width to 90% of the carousel */
  display: none; /* Hide all images by default */
  margin: 0 auto; /* This centers the image within the carousel */
}

.carousel img.active {
  display: block;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 50%;
  user-select: none;
  z-index: 10;
}

.carousel-arrow.left {
  left: -5px;
}

.carousel-arrow.right {
  right: -5px;
}

.carousel-indicator {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

header h1 {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

body {
  padding: 0 60px;
  overflow-x: hidden;
}
